matplotlib
pylatexenc
qiskit
qiskit-dynamics[jax]
sympy2jax
jax==0.4.9
jaxlib==0.4.9
ml_dtypes==0.2.0
chex
torch
qiskit_aer
qiskit_algorithms
qiskit_experiments
qiskit_ibm_provider
qiskit_ibm_runtime
qiskit_terra
tqdm
gymnasium
qiskit-ibmq-provider